/* All common CSS files should start from here */
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.mr {
    margin-right: 0 !important;
}

.mb {
    margin-bottom: 0 !important;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
/* All common CSS files should end from here */

/* Header part should be here  */

#header_part {
    background: rgba(0, 0, 0, 0.44);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo_with_menu {
    display: flex;
}

.logo {
    padding-top: 30px;
    width: 270px;
}

.menu {
    width: 900px;
    text-align: right;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    line-height: 90px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 44px;
    font-weight: 700;
    transition: .5s;
}

.menu ul li a:hover {
    color: #28b8d8;
}

/* Banner part should be here  */

#banner_part {
    padding-top: 330px;
    padding-bottom: 250px;
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner_text {
    text-align: center;
}

.banner_text h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.banner_text h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    padding: 20px 0;
    letter-spacing: 5px;
}

.banner_text p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

/* Service part should be here  */

#service_part {
    padding: 80px 0;
    background: #f9f9f9;
}

.service_text {
    text-align: center;
}

.service_text h4 {
    color: #444444;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.service_text p {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 80px;
}

.service_text h3 {
    color: #444444;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
}

.service_item_part {
    display: flex;
}

.service_item {
    width: 368px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    margin-right: 30px;
}

.item_img img {
    width: 100%;
}

.item_text {
    padding: 0 40px;
    text-align: center;
}

.item_text h3 {
    color: #444444;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 15px;
}

.item_text p {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
}

/* Instagram part should be here  */

#instagram_part {
    padding: 50px 0;
    background: #2c2c2c;
}

.insta_title {
    text-align: center;
}

.insta_title h3 {
    color: #d5d5d5;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.insta_title h3:before {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #535353;
    content: "";
    left: -110px;
    top: 50%;
    transform: translateY(-50%);
}

.insta_title h3:after {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #535353;
    content: "";
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
}

.insta_shots_part {
    display: flex;
    margin-top: 50px;
}

.insta_shota_item {
    width: 25%;
}

.insta_shota_item img {
    width: 100%;
}

.insta_btn {
    text-align: center;
    margin-top: 50px;
}

.insta_btn a {
    padding: 15px 20px;
    border: 1px solid #535353;
    color: #a6a6a6;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.insta_btn i {
    margin-right: 10px;
}

/* Blog part should be here  */

#blog_part {
    padding: 80px 0;
}

.blog_title {
    text-align: center;
}

.blog_title h3 {
    color: #2c2c2c;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.blog_title h3:before {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #2c2c2c;
    content: "";
    left: -110px;
    top: 50%;
    transform: translateY(-50%);
}

.blog_title h3:after {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #2c2c2c;
    content: "";
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
}

.blog_item_part {
    display: flex;
    margin: 80px 0;
}

.blog_item {
    width: 368px;
    border: 1px solid #e3e3e3;
    padding: 25px 0;
    margin-right: 30px;
}

.blog_item_text {
    text-align: center;
}

.blog_item_text h3 {
    color: #444444;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 13px;
}

.blog_item_text p {
    color: #666666;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 24px;
}

.blog_item_img img {
    width: 100%;
}

.blog_item_bottom_text {
    padding: 25px;
}

.blog_item_bottom_text p {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 22px;
}

.blog_item_bottom_btn {
    display: flex;
    justify-content: space-between;
}

.left_btn {
    width: 104px;
    padding-left: 27px;
}

.left_btn a {
    color: #2c2c2c;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #28b8d8;
}

.right_btn {
    width: 30px;
    padding-right: 26px;
}

.right_btn a {
    color: #2c2c2c;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Service bottom part should be here */

#service_btm_part {
    height: 450px;
}

.about_me_section {
    display: flex;
}

.about_me_left_section {
    height: 340px;
    width: 570px;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 30px;
}

.about_me_left_section h3 {
    padding: 15px 10px 10px 0;
    color: #444444;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.about_me_left_section h3:after {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #d9d9d9;
    content: "";
    right: -110px;
    top: 55%;
    transform: translateY(-50%);
}

.left_section {
    padding: 20px;
    padding-left: 0;
}

.left_section img {
    padding-left: 0;
}

.left_section_text {
    margin: 15px;
}

.left_section_text h4 {
    padding-bottom: 20px;
    line-height: 20px;
    color: #666666;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}

.left_section_text p {
    line-height: 20px;
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.about_me_flex {
    display: flex;
}

.about_me_right_section {
    height: 340px;
    width: 570px;
    border-radius: 10px;
}

.about_me_right_section h3 {
    padding: 15px 10px 30px 0;
    color: #444444;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.about_me_right_section h3:after {
    position: absolute;
    height: 1px;
    width: 100px;
    background: #d9d9d9;
    content: "";
    right: -110px;
    top: 40%;
    transform: translateY(-50%);
}

.icon {
    float: left;
    padding: 8px 10px;
    margin-right: 15px;
}

.about_me_right_section p {
    color: #666666;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-bottom: 10px;
}

.photography h4 {
    line-height: 20px;
    color: #444444;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-bottom: 10px;
}

.motion_video h4 {
    line-height: 20px;
    color: #444444;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-bottom: 10px;
}

.photo_retouching h4 {
    line-height: 20px;
    color: #444444;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-bottom: 10px;
}

/* Footer part should be here */

.footer_upper_part {
    background-color: #373737;
    padding: 80px 0;
}

.main_footer_part {
    display: flex;
    color: #ffffff;
}

.left_section {
    width: 570px;
    margin-right: 30px;
    display: flex;
}

.footer_links_1 {
    width: 266px;
    margin-right: 45px;
}

.footer_links_1 h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.footer_links_1 ul li {
    margin-bottom: 30px;
    color: #adadad;
}

.footer_links_1 ul li i {
    margin-right: 15px;
}

.footer_links_2 {
    width: 270px;
}

.footer_links_2 h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.footer_links_2 ul li {
    margin-bottom: 30px;
    color: #adadad;
}

.right_section {
    width: 570px;
    display: flex;
    margin-top: 20px;
}

.footer_links_3 {
    width: 255px;
    margin-right: 45px;
}

.footer_links_3 h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.footer_links_3 ul li {
    margin-bottom: 30px;
    color: #adadad;
}

.footer_links_4 {
    width: 270px;
}

.footer_links_4 h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #f0f0f0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.footer_links_4 ul li {
    margin-bottom: 30px;
    color: #adadad;
}

.footer_lower_part {
    padding: 40px 0;
    background: #333333;
}

.footer_lower_part p {
    color: #cacaca;
    font-style: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}